apiVersion: v1
kind: Service
metadata:
  name: extraction-features-service
  namespace: predictive-maintenance
  labels:
    app: extraction-features
spec:
  type: ClusterIP
  ports:
  - port: 8083
    targetPort: 8083
    protocol: TCP
    name: http
  selector:
    app: extraction-features

