apiVersion: v1
kind: Service
metadata:
  name: preprocessing-service
  namespace: predictive-maintenance
  labels:
    app: preprocessing
spec:
  type: ClusterIP
  ports:
  - port: 8082
    targetPort: 8082
    protocol: TCP
    name: http
  selector:
    app: preprocessing

