apiVersion: v1
kind: Service
metadata:
  name: prediction-rul-service
  namespace: predictive-maintenance
  labels:
    app: prediction-rul
spec:
  type: ClusterIP
  ports:
  - port: 8085
    targetPort: 8085
    protocol: TCP
    name: http
  selector:
    app: prediction-rul

