apiVersion: v1
kind: Service
metadata:
  name: orchestrateur-maintenance-service
  namespace: predictive-maintenance
  labels:
    app: orchestrateur-maintenance
spec:
  type: ClusterIP
  ports:
  - port: 8087
    targetPort: 8087
    protocol: TCP
    name: http
  selector:
    app: orchestrateur-maintenance

