apiVersion: v1
kind: Service
metadata:
  name: ingestion-iiot-service
  namespace: predictive-maintenance
  labels:
    app: ingestion-iiot
spec:
  type: ClusterIP
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
  selector:
    app: ingestion-iiot

